<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Dashboard</title>
    <script src="html/js/jquery.js"></script>
    <script src="html/js/chart.umd.js"></script>
</head>
<body>
  {% include "header.html" %}
    {% for item, data in details['datasets'].items() %}
    <div style="height: 400px">
      <canvas id="{{ chart }}_{{ item }}"></canvas>
    </div>
    {% endfor %}
<script>
  
$(document).ready(function () {
    {% for item, data in details['datasets'].items() %}
    var ctx_{{ item }} = document.getElementById('{{ chart }}_{{ item }}').getContext('2d');
    var myChart_{{ item }} = new Chart(ctx_{{ item }}, {
          type: 'line',
          data: {
            labels: {{ details['labels'] }},
            datasets: [
              {% for i in range(data|length) %}
              {
                {{ "hidden: true," if data[i]['label'] in details['hidden'] else "" }}
                label: '{{ data[i]['label'] }}',
                data: {{ data[i]['values'] }},
                borderColor: 'rgb({{ colors[i] }} 0.3)',
                backgroundColor: 'rgb({{ colors[i] }})'
              }{{ ", " if not loop.last else "" }}
              {% endfor %}
            ]
          },
          options: {
            maintainAspectRatio: false,
            responsive: true,
            plugins: {
              legend: {
                position: 'bottom'
              },
              title: {
                display: true,
                text: '{{ chart }} {{ item }}'
              }
            }
          }
    });
    {% endfor %}
});

</script>
</body>
</html>
